// colors
$color-background: #FFFFFF;
$color-text: #000000;
$color-brand: #0447BB;
$color-title: #002F6C;
$color-grey: #434343;
$color-grey-light: #B3B3B3;

// grid
$breakpoint-sm: 576px; // mobile
$breakpoint-md: 768px; // tablet
$breakpoint-lg: 992px; // desktop
$breakpoint-xl: 1280px;

// container size
$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1200px; // 1140
